@media (max-width: 992px){
    html{
        font-size: 12px;
    }
    /* 頁首設定 */
    nav{
        left: -150px;
        width: 150px;
    }
    nav a{
        font-size: 1.5em;
    }
    #navSlider{
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    
    /* 互動介面架構 */
    div#game-box{
        aspect-ratio: 1/2;
    }
    
    /* 遊戲介面架構 */
    .gamemenu{
        font-size: 1rem;
    }
        .gamemenu .parameter{
            display: flex;
            /* height: 7em; */
            width: 21em;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 1em;
            transition: all 1s ease-in-out;
        }
            .gamemenu .parameter label{
                flex: 1 0 15%;
                margin: 0 0.5em 0 0;
            }
            .gamemenu .parameter input{
                flex: 1 0 10%;
                margin: 0 1em 0.5em 0;
                padding: 0.1em 0 0.1em 0.5em;
            }
            .gamemenu .controlpanel button{
                padding: 0.2em 0.5em;
            }
            .gamemenu .controlpanel button:focus, .gamemenu .parameter input:focus{
                opacity: 1;
            }
        
    /* 表單元件 */
    .tr{
        font-size: 1em;
    }
}