.table{
    width: max-content;
    border-color: var(--soft-color);
    border-collapse: collapse;
    /* border-width: 1em;
    border-radius: 2em;
    border-style: double; */
}
    .thead, tbody{
    }
        .tr{
            font-size: 1.4em;
            height: 1em;
        }
        .th:nth-child(1), .td:nth-child(1){
            min-width: 2.5em;
        }
        .th:nth-child(2)::after, .td:nth-child(2)::after{
            content: "";
            position: absolute;
            right: 0px;
            top: 0px;
            width: 10px;
            height: 100%;
            box-shadow: inset 10px 0 8px -8px var(--main-color);
            transform: translateX(100%);
        }
        .th:nth-child(2), .td:nth-child(2){
            min-width: 5em;
            color: var(--textbg-color);;
            position: sticky;
            left: 0px;
            z-index: 2;
        }
        .th:nth-child(3), .td:nth-child(3){
            min-width: 5em;
        }
        .th:nth-child(4), .td:nth-child(4){
            min-width: 5em;
        }
        .th:nth-child(5), .td:nth-child(5){
            min-width: 5em;
        }
            .th, .td{
                text-align: left;
                vertical-align: middle;
                padding: 1rem;
                border-bottom: 1px solid var(--soft-color);
                background-color: #000000;
                /* border-width: 0.01em;
                border-color: var(--soft-color);
                border-style:dashed; */
            }
            .input{
                font-size: 0.7em;
                width: 8em;
                padding: 0.1em 0.4em 0.1em 0.4em;
                border-radius: 0.5em;
                color: var(--soft-color);
                background-color: var(--darker-color);
                /* border-width: 0; */
            }
.pagination{
    /* position: absolute; */
    /* width: -webkit-fill-available; */
    display: flex;
    /* bottom: 1em; */
    margin: 0.5em;
}
.pagDescription{
    width: 9em;
}
    .button{
        width: auto;
        flex: auto;
        font-size: 1.2rem;
        color: var(--soft-color);
        background-color: transparent;
        border-color: var(--soft-color);
        border-style: outset;
        border-width: 0.1em;
        border-radius: 0.5em;
        padding: 0.2em 0.5em;
        margin: 0.2em;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    .button:hover{
        border-style: inset;
        background-color: var(--textbg-color);
        color: var(--main-color);
    }
    /* .button:disabled{
        color: var(--darker-color);
        border-color: var(--darker-color);

    } */